<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form action="/home/create" method="post">
        Name:<br>
        <input type="text" name="name"><br>
        Department:<br>
        <input type="text" name="department"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>