@model ExampleProject.ViewModels.HomeDetailsViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form action="/home/update/@Model.student.Id" method="post">
        Name:<br>
        <input type="text" name="name" value="@Model.student.Name"><br>
        Department:<br>
        <input type="text" name="department" value="@Model.student.Department"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>